@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Playwrite+IE&family=Supermercado+One&family=Poller+One&family=Lilita+One&display=swap');
*{margin:0;
padding:0;
box-sizing: border-box;}
h1{background-color:#4B0000;
color:white;
text-align:center;
border-radius:12px;
padding:10px;
 font-family: 'Poller One', sans-serif;

}
ul{display:flex;
background-color:gray;
list-style-type: none;
padding:5px;
margin:5px;
justify-content:center;
border-radius:12px;
}
li{padding:0 7px;
}
a{transition:0.2s;
color:white;
text-decoration: none;
font-family:'Lilita One',cursive;


}
a:hover{color :white;
background-color:#4B0000;
padding:5px;
border-radius:12px;}
body{background-color:white;
}
.welcom{
padding:60px 50px;}
.contact a{
color:black;}

footer{color:#f4f4f4;
text-align:center;
padding:10px 10px;
background-color:#4B0000;
margin-top:500px;
}


table {
    width: 90%;
    margin:0px auto;
    border-radius: 10px;
	overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: 1px solid #D1D1D1;
    border-collapse: collapse;
    font-family: 'Cairo', sans-serif;
	border-spacing:0;
}

thead {
    background-color: #4B0000;
}

th {
    color: #ffffff;
    padding: 15px 2px;
    font-size: 17px;
    font-weight: bold;
  font-family:'Lobster Two',sans-serif;
}

tbody {
    background-color: #F2F2F2;
}

td {
    color: #333333;
    padding: 8px 8px;
    text-align: center;
    border-bottom: 1px solid #E0E0E0;
    font-size: 14px;
	font-family:'Caveat',cursive;
}

tbody tr:hover {
    background-color: #E8E8E8;
    transition: 0.2s;
}

tr:last-child td {
    border-bottom: none;
}


.re{padding:10px 20px;
color:#4B0000;
font-family:'Lobster Two',sans-serif;}

.li{padding:50px 80px 0px 80px;
display:block;
margin:0;
border-spacing:0;
color:gray;
font-family:'Playwrite IE',cursive;}

h4{color:#4B0000;
padding:5px 350px;
margin-bottom:-50px;
margin-top:30px;
font-family:'Lobster Two',sans-serif;}

label{color:#4B0000;
margin:0 5px 0 0;
display: block;
margin-bottom:8px;
font-family:'Playwrite IE',cursive;
font-size:13px;}

input,textarea{display:block;
width:100%;
max-width:750px;
padding:10px 5px;
border-radius:15px;
border:	1px solid #4B0000;
margin-top:0;
margin-bottom:2px 0 0 0;
}
form{max-width:850px;
margin:50px auto;
padding:20px;
background-color:#f4f4f4;
border-radius:20px;
}
button{border-radius:10px;
margin:1px;
background-color:#4B0000;
color:#f4f4f4;
padding:5px 5px;
transition:0.3s;
margin-top:1px;
font-family:'Lobster Two',sans-serif;
}
button:hover{background-color:gray;
color:#4B0000;
transform:scale(1.05);}
 h3{display:block;
background-color:#f4f4f4;
color:#4B0000;
width:170px;
border-radius:20px;
margin-top:20px;
margin-left:10px;
padding:5px 10px;
 font-family:'Lobster Two',sans-serif;

 }
 .pp{color:#4B0000;
 padding:5px 15px;
 font-family:'Playwrite IE', cursive;}
 .contact p{color:#4B0000;
 padding:0px 10px;
 display:inline-flex;
 background-color:#f4f4f4;
 width:fit-content;
 border-radius:10px;
 margin-left:20px;
 margin-top:10px;
 min-width:20px;
 font-family:'Lobster Two',sans-serif;
 }
 
 span{color:#555555;
 padding:0px 10px;
 font-family:'caveat',cursive;}
 
 .bt{display:inline-block;
 background-color:#4B0000;
 color:white !important;
 border-radius:10px;
 margin-left:325px;
 padding:3px 3px;
 margin-top:2px;
 font-size:7px;
 }
 .bt:hover{background-color:gray;
 color:#4B0000 !important;}
 
 .welcome{background-color:#f4f4f4;
 margin-left:450px;
 margin-top:80px;
 padding:10px 10px;
 border-radius:20px;
 width:600px;
 height:400px;}
 h2{color:#4B0000;
 padding:10px 10px;
 font-family:'Lobster Two',sans-serif;}
 .welcome p{color:#333333;
 font-family:'Caveat',cursive;
 margin-left:10px;}
 
 
.wh{
text-align:center;
 color:#4B0000;
 font-family:'Supermercado One',system-ui;
 font-size:20px;
 padding:40px 0px;

}
.home{display:flex;
}
.vi{display:flex;
background-color:white;
font-size:16px;
width:150px;
height:110px;
border:1px solid white;
border-radius:10px;
margin-left:5px;
margin-right:5px;
align-items:center;
justify-content:center;
padding:10px 10px;
margin-top:10px;
font-family:'Caveat',cursive;
color:#555555;
}
.ad{display:flex;
background-color:white;
font-size:16px;
width:150px;
height:110px;
border:1px solid white;
border-radius:10px;
margin-left:80px;
align-items:center;
justify-content:center;
padding:10px 10px;
margin-top:10px;
font-family:'Caveat',cursive;
color:#555555;
}
.co{display:flex;
background-color:white;
font-size:16px;
width:150px;
height:110px;
border:1px solid white;
border-radius:10px;
margin-left:110px;
align-items:center;
justify-content:center;
padding:10px 10px;
margin-top:10px;
font-family:'Caveat',cursive;
color:#555555;
}